.Dept1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.Dept2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.D3{
    display: flex;
    flex-direction: column;
}

.D3 img{
    height: 300px;
}

.D3 h3{
    margin-left: 110px;
}