* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100vw;
    margin-top: 20px;
    height: auto;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: white;
    width: auto;
    position: relative;

}

.navbar li {
    cursor: pointer;
    flex-wrap: nowrap;
    float: right;
    padding-right: 0.3vw;
    color: black;
    font-size: 1rem;
    font-family: 'Iceberg', cursive;
    margin-left: 5%;

}

.logo {
    font-weight: bold;
    padding-right: 15rem;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.NavButton{
        margin-left: 1rem;
        cursor: pointer;
        padding: 10px;
        background-color: #00ab9f;
        width: 10rem;
        color: white;
        border: none;
        border-radius: 8px;
    }