@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
input {
    border: none;
    /* Removes the default border */
}

input:focus {
    outline: none
        /* Removes the border when the input is clicked */
}