.home{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
}
.hometop{
    background-image: url('../../images/homepageimg.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 538px;
}

.HMS{
    color: white;
    margin-top: 80px;
    margin-left: 50px;
}

.homebox{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
}

.homebottom{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bottomright{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bottomright h4{
    color: #6A6A6A;
    font-size: 20px;
}