.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.hometop{
    background-image: url('../../images/homepageimg.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 538px;
}

.HMS{
    color: white;
    margin-top: 80px;
    margin-left: 50px;
    font-size: 33px;
}

.homebox{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
}

.homebottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 100px;
}

.bottomright{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 600px;
}

.bottomright h4{
    color: #6A6A6A;
    font-size: 14px;
    font-weight: lighter;
}

.homeboxitem h3{
    color: #00ab9f;
    padding: 10px;
    border-radius: 50%;
    -webkit-box-shadow: -8px 7px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 7px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -8px 7px 16px 0px rgba(0, 0, 0, 0.75);
    width: 20px;
    height: 20px;
}

.homeboxitem{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bottomright h2{
    font-size: 48px;
    width: 530px;
    text-align: center;
}
.bottomright .decr{
    text-align: center;
}

.homeboxitem h4{
    margin-top: 5px;
}